$dark-blue: #030057;
$orange: #FF9900;
$dark-grey: #707070;
$black: #433D3D;

@mixin transition-all($t) {
    -webkit-transition: all #{$t}s ease-out;
    -moz-transition: all #{$t}s ease-out;
    -o-transition: all #{$t}s ease-out;
    transition: all #{$t}s ease-out;
}

@mixin box-shadow($x, $y, $z, $n) {    
    box-shadow: #{$x}px #{$y}px #{$z}px rgba(0, 0, 0, $n)!important;
    -moz-box-shadow: #{$x}px #{$y}px #{$z}px rgba(0, 0, 0, $n)!important;
    -webkit-box-shadow: #{$x}px #{$y}px #{$z}px rgba(0, 0, 0, $n)!important;
}

/*--------------------------------*/
/* - Typography - Responsive/Breakpoints - */

/* Breakpoint LG */
@media (max-width: 1199px) {

}

/* Breakpoint MD */
@media (max-width: 991px) {
   
}

/* Breakpoint SM */
@media (max-width: 767px) {
   
}

/* Breakpoint XS */
@media (max-width: 575px) {
   
}

@media (max-width: 379px) {
    
}

/* - Typography - Responsive/Breakpoints - */
/*--------------------------------*/