.main-menu {
    &.menu-scroll {
        .navbar {
            background-color: #030057;
            @include box-shadow(0,0,10,.5);
        }
    }
    .navbar {
        box-shadow: none;
        padding: 0;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        @include transition-all(1);
        .navbar-brand {
            padding: 8px 16px;
            span {
                display: block;
                line-height: 1;
                font-weight: bold;
                font-size: 22px;
                &:nth-child(1) {
                    color: $orange;
                }
            }
        }
        .navbar-toggler {
            padding: 16px;
        }
        .current-language {
            display: flex;
            align-items: center;
            color: #ffffff;
            padding: 15px;
            cursor: pointer;
            span {
                font-size: 13px;
                font-weight: 500;
                color: darken($dark-grey, 20%);
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
                height: 20px;
                width: auto;
                padding: 0 3px;
                // border: 1px solid #ffffff;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                background-color: #ffffff;
            }
            i {
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1.5px solid #ffffff;
                border-left: none;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                &::before {
                    @include transition-all(.3);
                }
            }
            ul {
                &.languages {
                    display: none;
                    position: absolute;
                    top: 40px;
                    list-style: none;
                    padding-left: 0;
                    background-color: #fff;
                    width: 45.5px;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    padding-top: 5px;
                    @include box-shadow(0,2,5,.3);
                    li {
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 1;
                        a {
                            color: darken($dark-grey, 20%);
                            display: flex;
                            align-items: center;
                            padding: 2px 5px;
                            img {
                                height: 15px;
                                width: 15px;
                                border-radius: 100%;
                            }
                            span {
                                font-size: 12px;
                                background-color: transparent;
                            }
                            &:hover {
                                background-color: lighten($dark-grey, 45%);
                            }
                        }
                        &:last-of-type {
                            a {
                                border-bottom-left-radius: 3px;
                                border-bottom-right-radius: 3px;
                            }
                        }
                    }
                }
            }
            &:hover {
                span {
                    border-bottom-left-radius: 0;
                }
                i {
                    border-bottom-right-radius: 0;
                    &::before {
                        transform: rotate(45deg);
                    }
                }
                ul {
                    &.languages {
                        display: block;
                    }
                }   
            }
        }
        ul {
            // &.languages {
            //     list-style: none;
            //     padding: 13px 16px;
            //     padding-left: 20px;
            //     margin: 0;
            //     display: flex;
            //     li {
            //         a {
            //             display: block;
            //             text-align: center;
            //             font-size: 13px;
            //             font-weight: 400;
            //             line-height: 1;
            //             color: #ffffff;
            //             padding: 5px;
            //             border-style: solid;
            //             border-color: #ffffff;
            //             border-top-width: 1px;
            //             border-bottom-width: 1px;
            //             border-left-width: 0;
            //             border-right-width: 0;
            //             width: 30px;
            //             @include transition-all(.2);
            //             &:hover {
            //                 background-color: rgba(255,255,255,.4);
            //             }
            //         }
            //         &:first-of-type {
            //             a {
            //                 border-top-left-radius: 3px;
            //                 border-bottom-left-radius: 3px;
            //                 border-left-width: 1px;
            //                 border-right-width: 1px;
            //             }
            //         }
            //         &:last-of-type {
            //             a {
            //                 border-top-right-radius: 3px;
            //                 border-bottom-right-radius: 3px;
            //                 border-left-width: 1px;
            //                 border-right-width: 1px;
            //             }
            //         }
            //         &.active {
            //             a {
            //                 background-color: #ffffff;
            //                 color: $dark-grey;
            //             }
            //         }
            //     }
            // }
            &.navbar-nav {
                padding: 8px 0;
                .nav-item {
                    .nav-link {
                        font-weight: 500;
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
        }
    }
}

/*--------------------------------*/
/* - Main Menu - Responsive/Breakpoints - */

/* Breakpoint LG */
@media (max-width: 1199px) {

}

/* Breakpoint MD */
@media (max-width: 991px) {
    .main-menu {
        .navbar {
            &.active {
                background-color: rgba(0,0,0,.4);
            }
            ul {
                &.navbar-nav {
                    background-color: rgba(0,0,0,.9);
                    padding: 20px 0 15px;
                }
                // &.languages {
                //     padding: 13px 0;
                // }
            }
            .current-language {
                padding: 15px 0;
            }
        }
    }
}

/* Breakpoint SM */
@media (max-width: 767px) {
    .main-menu {
        position: sticky;
        top: 0;
        z-index: 1030;
        .navbar {
            position: relative;
            // background-color: #03013e;
            background-color: #030057;
            border-bottom: 1px solid rgba(255,255,255,.2);
            &.active {
                background-color: darken(#03013e, 5%);
            }
            .navbar-brand {
                padding-top: 6px;
                span {
                    font-size: 20px;
                }
            }
        }
    }
}

/* Breakpoint XS */
@media (max-width: 575px) {
   
}

@media (max-width: 379px) {
    
}

/* - Main Menu - Responsive/Breakpoints - */
/*--------------------------------*/