.discover {
    padding: 80px 0 40px;
    overflow: hidden;
    .dsc-gallery-item {
        height: 230px;
        cursor: pointer;  
        img {
            margin-bottom: 15px;
            width: 100%;
            @include box-shadow(0,5,20,.35);
            @include transition-all(.4);
        }
        p {
            &.dsc-title {
                display: none;
                font-size: 26px;
                font-weight: 800;
                line-height: 1;
            }
        }
        &.active,
        &:hover {
            img {
                margin-top: -20px;
            }
            p {
                &.dsc-title {
                    display: block;
                }
            }
        }
    }
}

/*--------------------------------*/
/* - Section Discover - Responsive/Breakpoints - */

/* Breakpoint LG */
@media (max-width: 1199px) {

}

/* Breakpoint MD */
@media (max-width: 991px) {
    .discover {
        padding-bottom: 0;
    }
}

/* Breakpoint SM */
@media (max-width: 767px) {
    .discover {
        .dsc-gallery-item {
            img {
                margin-bottom: 5px;
            }
            p {
                &.dsc-title {
                    font-size: 16px;
                }

            }
        }
    }
}

/* Breakpoint XS */
@media (max-width: 575px) {
    .discover {
        padding: 100px 0 0;
    }
}

@media (max-width: 379px) {
    
}

/* - Section Discover - Responsive/Breakpoints - */
/*--------------------------------*/